:root {
    /* webchat 工具栏的颜色 */
    --webchat-toolbar-background-color: #1464E4;
    /* webchat 工具栏文字和按钮的颜色 */
    --webchat-toolbar-text-color: #FFF;
}
/* webchat 对话框如果被遮挡，可以尝试通过 z-index、bottom、right 等设置来调整位置 */
.webchat-container {
    z-index: 100;
    bottom: 5px;
    right: 50px;
    transition: visibility 0.5s ease, opacity 0.5s ease;
    &._chatBoxContainer_z6174_46 {
        display: block;
        visibility: hidden;
        opacity: 0;
    }
    &._chatBoxVisible_z6174_63 {
        visibility: visible;
        opacity: 1;
    }
}
/* webchat 的唤起按钮如果被遮挡，可以尝试通过 z-index、bottom、right 等设置来调整位置 */
.webchat-bubble-tip {
    z-index: 99;
    bottom: 5px;
    right: 10px;
    opacity: 0.8;
    display: block;
    width: 35px;
    height: 35px;
    background-color: var(--btn-bg);
    color: var(--btn-color);
    text-align: center;
    font-size: 16px;
    line-height: 35px;
    border-radius: 5px;
    box-shadow: none;
    border: none;
    background-size: 23px;
    background-repeat: no-repeat;
    background-position: center;
}